
<div clss="row">
 
<!-- 購入商品-->

<div class="col-md-9">
<table class="table">
 <thead>
  <tr>
   <th>商品名</th>
   <th>単価</th>
   <th>数量</th>
   <th>小計</th>
  </tr>
 </thead>
 <tbody>
  <!-- each do -->
  <tr><!-- cart-products --></tr>
 </tbody>
</table>

</div>

<!-- 金額 -->

<div class="col-md-3">
 
<table class="table">
 <tbody>
  <tr>
   <th>送料</th>
   <td>800</td>
  </tr>
  <tr>
   <th>商品合計</th>
   <td><!-- 商品合計 --></td>
  </tr>
  <tr>
   <th>請求金額</th>
   <tr><!-- 請求金額 --></tr>
  </tr>
 </tbody>
</table>

</div>
</div>

<!-- 支払い方法、配送先 -->

<div class="row">
 <div class="col-md-12">
  
<div class="cofind-pay-method">
<h3>支払方法</h3>
<p><!-- クレジット or 現金振込 --></p>
</div>

<div class="confind-delivery_address">
 <h3>お届け先</h3>
 <p><%= @order.postalcode %></p>
 <p><%= @order.delivery_address %></p>
 <p><%= @order.delivery_name %></p>
</div>


<%#= link_to "購入を確定する", orders_thanks_path %>

</div>
</div>

