
<div class="row">

  <!-- ジャンル検索　-->
    <div class="col-md-3">

    <table class="table">
      <thead>
        <tr>
        <th>ジャンル検索</th>
        </tr>
        <tbody>
        <!-- each do 入れる　-->
          <td>ケーキ
            <!-- genre-name -->
            </td>
        </tbody>
      </thead>
    </table>

    </div>

  <!-- Wekcime-message -->

  <div class="col-md-9">

  <div class="top-message">
  <p>ようこそ、NaganoCakeへ！<br />
  このサイトは、ケーキ販売のECサイトになります。<br />
  会員でない方も商品の閲覧はできますが、<br />
購入には会員登録が必要になります。
  </p>
  </div>

  </div>
  </div>
  <!-- popular_puroducts　each do?? -->
  <div class="row">
  <div class="col-md-12">

  <div class="popular-products">
  <h2>オススメ商品</h2>
  
  <div class="popular-puroducts-container">
    <div class="popular-puroducts-image"image></div>
    <div class="popular-puroducts-name">name</div>
    <div class="popular-products-price">￥0</div>
  </div>

  <!-- gem kaminari -->
  <div class="more-show">もっと見る</div>
  </div>

  </div>
  </div>


