
<div class="row">

  <!-- ジャンル検索　-->

    <div class = "col-md-3">
    <%= render 'products/genrebox', genres: @genres %>
    </div>

  <!-- Welcome-message -->

  <div class="col-md-9">

  <div class="top-message">
  <p>ようこそ、Nagano Cakeへ！<br />
  このサイトは、ケーキ販売のECサイトになります。<br />
  会員でない方も商品の閲覧はできますが、<br />
購入には会員登録が必要になります。
  </p>
  </div>

  </div>
  </div>
  
  <!-- popular_puroducts -->
  





