
<div class="row">

  <!-- ジャンル検索　-->

    <div class = "col-md-3">
    <%= render 'products/genrebox', genres: @genres %>
    </div>

  <!-- Welcome-message -->

  <div class="col-md-9">

  <div class="top-message">
  <p>ようこそ、Nagano Cakeへ！<br />
  このサイトは、ケーキ販売のECサイトになります。<br />
  会員でない方も商品の閲覧はできますが、<br />
購入には会員登録が必要になります。
  </p>
  </div>

  </div>
  </div>
  <!-- popular_puroducts　each do?? -->
  <div class="row">
  <div class="col-md-12">

  <div class="popular-products">
  <h2><div class="heading-text">おすすめ商品</div></h2>

  <div class="popular-puroducts-container">
    <div class="popular-puroducts-image"></div>
    <div class="popular-puroducts-name">name</div>
    <div class="popular-products-price">￥0</div>
  </div>

   <div class="popular-puroducts-container">
    <div class="popular-puroducts-image"></div>
    <div class="popular-puroducts-name">name</div>
    <div class="popular-products-price">￥0</div>
  </div>

   <div class="popular-puroducts-container">
    <div class="popular-puroducts-image"></div>
    <div class="popular-puroducts-name">name</div>
    <div class="popular-products-price">￥0</div>
  </div>

   <div class="popular-puroducts-container">
    <div class="popular-puroducts-image"></div>
    <div class="popular-puroducts-name">name</div>
    <div class="popular-products-price">￥0</div>
  </div>

  <%= link_to "もっとみる>>", products_path %>
  </div>

  </div>
  </div>




